@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500&family=Rubik:wght@400;600;700&display=swap');
@import "colors";

@mixin flex-column($direction, $gap, $mb, $mt, $ml, $mr) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    margin-bottom: $mb;
    margin-top: $mt;
    margin-left: $ml;
    margin-right: $mr;
}

// ---------------------------------------------- //
// ------------- SMALL SCREENS ------------------ //
// ---------------------------------------------- //

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

.main-container{
    @include flex-column(column, 0, 1rem, 1rem, 1rem, 1rem);
    form{
        @include flex-column(row, 0.3rem, 1rem, 2rem, 0, 0);
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 1rem;
        input{
            height: 1.7rem;
            width: 15rem;
        }
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

header{
    @include flex-column(row, 0, 0, 0, 0, 0);
    height: 30vh;
    align-items: center;
    justify-content: center;
    background-color: $myRed;
    h1{
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 2rem;
        color: $myWhite;
    }
}

main{
    @include flex-column(column, 2rem, 0, 0, 0, 0);
}

.article-container{
    @include flex-column(column, 2rem, 0, 0, 0, 0);
}

.movie-card{
    @include flex-column(column, 0, 0, 0, 0, 0);
    background-color: $myLightGray;
    padding: 1rem;
}

.card-text{
    @include flex-column(column, 1.2rem, 0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

img{
    max-width: 100%;
    height: auto;
}       

.link{
    text-decoration: none;
}

.basic-button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid $myBlack;
    color: $myBlack;
    padding: 1rem;
    width: 40%;
    border-radius: 10px;
    display:inline-block;
    text-decoration: none;
    text-align: center;
}

.basic-button:hover{
    text-decoration: underline;
}

footer{
    @include flex-column(row, 0, 0, 3rem, 0, 0);
    height: 100px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $myLightGray;
}

// ---------------------------------------- //
// ----------- MIDSIZE SCREENS ------------ //
// ---------------------------------------- //

@media screen and (min-width: 720px) {

    body{
        max-width: 1400px;
        margin: 0 auto;
    }
    .article-container{
        @include flex-column(row, 2rem, 0, 0, 0, 0); 
        flex-wrap: wrap;
    }

    .movie-card{
        @include flex-column(row, 0, 0, 0, 0, 0);
        width: 100%;
        border-radius: 7px;
        font-size: 0.8rem;
        box-shadow: 0 25px 40px 0 $myBoxShadow;
    }

    .basic-button{
        border:none;
        width: 100px;
        border: 1px solid $myDarkGray;
    }

    .detail-article-container{
        @include flex-column(row, 4rem, 0, 0, 0, 0);
        flex-wrap: wrap;
        padding: 2rem;
    }

    .detail-text-container{
        @include flex-column(column, 2rem, 0, 0, 0, 0);
    }

    .details{
        @include flex-column(column, 2rem, 0, 0, 0, 0);
        padding: 2rem;
    }

    .detail-headline{
        margin-top: 2rem;

    }

    form{
        gap: 0.5rem;
    }

    
}

// ---------------------------------------- //
// ----------- LARGER SCREENS ------------ //
// ---------------------------------------- //


@media screen and (min-width: 1300px) {

    .article-container{
        justify-content: space-evenly;
    }

    .movie-card{
        width: 40%;
    }

    img{
        max-width: 40%;
    }

    
}